.product-img img {
 height:420px;
 width: 420px;
}
.inputflied {
    width: 400px;
}
#error-show{
    display: none;
    font-size: 13px;
    color: rgb(213, 0, 0);
    position: absolute;
}
.under-line {
  position:relative;
  padding-top:15px;
}
.order-summery{
    width: 400px;
}

